*.sqlite3
*.pyc

media
venv
agenda/__pycache__
agenda/migrations/__pycache__

diligencias/__pycache__
diligenciasmigrations/__pycache__

enderecos/__pycache__
enderecos/migrations/__pycache__

pessoas/__pycache__
pessoas/migrations/__pycache__

*.md